body, html{
    height: 100%;
    background-color: rgb(48,48,48);
    scroll-behavior: smooth;

}


div#hero-header,
div#occupations-info,
div#hobbies-info
{
    height: 100%;
    margin-bottom: 20pt;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

div#hero-header{
    background-image: linear-gradient(rgb(0,0,0,0.5), rgba(0,0,0,0.5)), url("CAT.jpg");
}

div#occupations-info{
    background-image: linear-gradient(rgb(0,0,0,0.5), rgba(0,0,0,0.5)), url("occupations.jpg");
}

div#hobbies-info{
    background-image: linear-gradient(rgb(0,0,0,0.5), rgba(0,0,0,0.5)), url("CAT.jpg");
}


div#hero-text,
div#occupations-info-text,
div#hobbies-info-text{
    font-size: 4vw;
    color: white;
}

div#hero-text{
    position: absolute;
    top: 10%;
    left: 3%;
}

div#occupations-info-text,
div#hobbies-info-text{
    position: absolute;
    left: 3%;
}



a{
    color: aqua;
    text-decoration: none;
}

a:hover{
    color: rgb(0, 140, 255);
}

p{
    font-family: 'Times New Roman', Times, Georgia, serif;
}