body, html{
    height: 100%;
    background-color: rgb(48,48,48);
}

/* Navigation bar styling */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    padding: 14px 16px;
    border-radius: 0.5em;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: aqua;
    color: black;
  }


/* Content/div organizer + background images */
div#hero-header,
div#occupations-info,
div#hobbies-info,
div#adventures-info
{
    height: 100%;
    margin-bottom: 20pt;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

div#hero-header{
    background-image: linear-gradient(rgb(0,0,0,0.5), rgba(0,0,0,0.5)), url("background-images/CAT.jpg");
}

div#occupations-info{
    background-image: linear-gradient(rgb(0,0,0,0.5), rgba(0,0,0,0.5)), url("background-images/occupations.jpg");
}

div#hobbies-info{
    background-image: linear-gradient(rgb(0,0,0,0.5), rgba(0,0,0,0.5)), url("background-images/hobbies.jpg");
}

div#adventures-info{
    background-image: linear-gradient(rgb(0,0,0,0.5), rgba(0,0,0,0.5)), url("background-images/adventures.jpg");
}

div#hero-text,
div#occupations-info-text,
div#hobbies-info-text,
div#adventures-info-text{
    position: absolute;
    font-size: 4vw;
    color: white;
}

div#hero-text{
    top: 10%;
    left: 3%;
}

div#occupations-info-text,
div#hobbies-info-text,
div#adventures-info-text{
    left: 3%;
}

a{
    color: aqua;
    text-decoration: none;
}

a:hover{
    color: rgb(0, 140, 255);
}

p{
    font-family: 'Times New Roman', Times, Georgia, serif;
}


